@import url("reset.css");
@import url("materialize.min.css");
@import url("datatables.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
@import url("//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css");
body {
	font-family: 'Roboto', sans-serif;
}
a {
	text-decoration: none;
}
.detail_but
{
    display:inline-block;
    background-color:#000;
    color:#FFF;
    padding:10px 20px;
    float:right;
    font-size:14px;
    border-radius:3px;
    margin-left:20px;
}
.detail_but:hover
{
    background-color:#999
}
.dataTables_wrapper
{
    font-size:14px;
}
/* Login */
body.login {
	background-color: #303641;
}
body.login form fieldset {
	background: #373e4a;
	border: 1px solid #373e4a;
	padding: 15px 20px;
	border-radius: 3px;
	margin: 20px 0px;
}
body.login form fieldset label {
	color: #919191;
	font-size: 13px;
	width: 30px;
}
body.login form fieldset input[type='text'], body.login form fieldset input[type='password'] {
	background: #373e4a;
	border: none;
	color: #FFF;
	width: 80%;
	padding-left: 20px;
	border-left: 1px solid #454a54;
	font-size: 12px;
	float:right;
}
body.login form fieldset {
	border: 1px solid #454a54;
}
body.login section {
	width: 320px;
	margin: auto;
	margin-top: 10%;
}
body.login input[type="submit"] {
	display: block;
	background-color: transparent;
	border: none;
	cursor: pointer;
	width: 100%;
	text-align: left;
	border: 1px solid #454a54;
	border-radius: 3px;
	padding: 15px 20px;
	color: #FFF;
	transition: all 300ms ease-in-out;
}
body.login button span {
	float: right;
}
body.login input[type="submit"]:hover {
	background: #373e4a;
}
body.login h1 {
	font-size: 14px;
	color: #919191;
	line-height: 300%;
	text-align: center;
}
body.login .error {
	border: 1px solid #ec5956;
	transition: all 300ms ease-in-out;
}
body.login .validation {
	font-size: 14px;
	line-height: 28px;
	display: inline-block;
	text-align: center;
	transition: all 300ms ease-in-out;
	height: 28px;
	margin-top: 5px;
	color: #ec5956;
}
body.login #logo {
	display: block;
	margin: auto;
}
/* Home */
header {
	background-color: #303641;
	padding: 10px 20px;
}
header #logo {
	float: left;
}
header nav {
	float: right;
}
header nav li {
	float: left;
	margin: 12px 15px;
}
header nav a {
	text-decoration: none;
	color: #aaabae;
	font-size: 14px;
}
header nav a span {
	color: #FFF;
	margin-right: 10px;
}
.top-notify {
	background-color: #ec5956;
	color: #FFF;
	border-radius: 50%;
	line-height: 14px;
	width: 14px;
	text-align: center;
	font-size: 9px;
	display: inline-block;
	position: absolute;
	margin-left: 7px;
	margin-top: -20px;
}
#breadcrum {
	background: #373e4a;
	padding: 13px 2%;
}
#breadcrum li:nth-child(1) {
	float: right;
}
#breadcrum a {
	font-size: 14px;
	color: #fff;
	text-decoration: none;
}
#breadcrum a span {
	color: #919191;
	margin-right: 10px;
}
#breadcrum li:nth-child(2) {
	float: right;
}
#container {
	width: 100%;
	height: 100%;
	display: table;
	table-layout: fixed;
}
#sidebar {
	display: table-cell;
	width: 280px;
	position: relative;
	box-sizing: border-box;
	background-color: #303641;
}
#content {
	position: relative;
	display: table-cell;
	box-sizing: border-box;
	width: 100%;
	background-color: #f5f5f5;
}
#sidebar nav li a {
	border-bottom: 1px solid rgba(69, 74, 84, 0.7);
}
#sidebar nav li a {
	display: block;
	padding: 15px 30px;
	font-size: 13px;
	color: #aaabae;
}
#sidebar nav ul ul li a {
	padding-left: 55px;
}
#sidebar nav ul ul ul li a {
	padding-left: 85px;
}
#sidebar nav ul ul li {
	background-color: #2b303a;
}
#sidebar nav ul ul ul li {
	background-color: #20252e;
}
#sidebar nav li a span {
	font-size: 13px;
	margin-right: 8px;
}
#sidebar nav li a:hover {
	color: #FFF;
	background-color: rgba(69, 74, 84, 0.5);
}
#sidebar nav li .drop {
	float: right;
	font-size: 15px;
	transition: all 0.3s ease-out;
}
.trigger ul {
	/* display: none; */
}
#content article {
	padding: 30px 40px;
	margin: 3%;
	background-color: #FFF;
}
#content article h1 {
	font-size: 25px;
	margin-bottom: 30px;
	font-weight: 300;
}
.form fieldset {
	padding: 15px 0px;
	border-bottom: 0px;
}
.form fieldset label {
	display: block;
	font-size: 13px;
	line-height: 170%;
	color: #949494;
	font-weight: 500;
}
.form fieldset input[type='text'], .form fieldset input[type='password'], .form fieldset input[type='email'], .form fieldset input[type='number'], .form select {
	display: block;
	padding: 8px 12px;
	font-size: 12px;
	color: #555555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #CCCCCC;
	width: 97%;
}
.form fieldset input[type="submit"] {
	color: #303641;
	background-color: #f0f0f1;
	border-color: #f0f0f1;
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 12px;
	line-height: 1.42857143;
	border-radius: 3px;
	-webkit-user-select: none;
}
.form fieldset input[type="submit"]:hover {
}
.form .validation {
	font-size: 14px;
	line-height: 28px;
	display: block;
	transition: all 300ms ease-in-out;
	height: 28px;
	margin-top: 5px;
	color: #ec5956;
}
.form .error {
	border: 1px solid #ec5956 !important;
	transition: all 300ms ease-in-out;
}

.validation
{
    color:Red;
    line-height:150%;
    font-size:14px;
}

 @media only screen and (max-width: 519px) {
}
@media only screen and (min-width: 520px) and (max-width: 979px) {
}
@media only screen and (min-width: 980px) and (max-width: 1229px) {
}
@media only screen and (min-width: 1230px) {
}
