<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="defaultCon" connectionString="Data Source=103.231.211.68;User ID=idfoi_user;Password=Rcd_4q13;Integrated Security=False;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<sessionState timeout="10"/>
		<httpRuntime requestValidationMode="2.0" enableVersionHeader="false"/>
		<customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.0"/>
		<pages validateRequest="false">
			<namespaces>
				<add namespace="System.Text"/>
				<add namespace="System.Data"/>
				<add namespace="System.Data.Sql"/>
				<add namespace="System.Data.SqlClient"/>
				<add namespace="System.Configuration"/>
			</namespaces>
		</pages>
		<httpCookies httpOnlyCookies="true"/>
	</system.web>
	<system.webServer><modules runAllManagedModulesForAllRequests="true"/>
		
		<security>
			<requestFiltering>
				<verbs>
					<add verb="OPTIONS" allowed="false"/>
					<add verb="DELETE" allowed="false"/>
					<add verb="TRACE" allowed="false"/>
					<add verb="HEAD" allowed="false"/>
					<add verb="PROPFIND" allowed="false"/>
					<add verb="COPY" allowed="false"/>
					<add verb="LOCK" allowed="false"/>
					<add verb="UNLOCK" allowed="false"/>
					<add verb="PROPPATCH" allowed="false"/>
					<add verb="MKCOL" allowed="false"/>
					<add verb="MOVE" allowed="false"/>
				</verbs>
			</requestFiltering>
		</security>
		<httpProtocol>
			<customHeaders>
				<add name="X-Frame-Options" value="DENY"/>
				<remove name="X-Powered-By"/>
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>

